.container{
    margin: 0 auto;
    max-width: 1290px;
    padding: {
        right: 15px;
        left: 15px;
    }
}


html, body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.maincontent {
  display: table-row;
  height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.price_s {
  @extend .ui_head3;
}
.price_b {
  @extend .ui_head2;
}

a {
  color: $active;
  &:hover {
    text-decoration: underline;
  }
}
