.icon {
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
}

.icon-i_cake {
	height:(21)*1px;
	width:(20)*1px;
}
.icon-i_cake_about {
	height:(100.6)*1px;
	width:(216.49)*1px;
}
.icon-i_candy_about {
	height:(99.36)*1px;
	width:(201.68)*1px;
}
.icon-i_cart {
	height:(24)*1px;
	width:(22)*1px;
}
.icon-i_cross {
	height:(15.41)*1px;
	width:(15.41)*1px;
}
.icon-i_dandruff {
	height:(19.21)*1px;
	width:(19.21)*1px;
}
.icon-i_inventory {
	height:(20.14)*1px;
	width:(20.14)*1px;
}
.icon-i_minus {
	height:(2)*1px;
	width:(8)*1px;
}
.icon-i_ok {
	height:(43.92)*1px;
	width:(44)*1px;
}
.icon-i_ok_g {
	height:(30.57)*1px;
	width:(18.38)*1px;
}
.icon-i_person {
	height:(20)*1px;
	width:(16)*1px;
}
.icon-i_plus {
	height:(8)*1px;
	width:(8)*1px;
}
.icon-i_star_adv {
	height:(124)*1px;
	width:(130.81)*1px;
}
.icon-i_vk {
	height:(43.92)*1px;
	width:(44)*1px;
}
.icon-i_vk_g {
	height:(17.48)*1px;
	width:(30.95)*1px;
}
