.icon {
	display: inline-block;
	fill: inherit;
	vertical-align: middle;
	transition: fill 0.3s;
}
.icon-i_star {
	fill: $active;
	width: 23px;
	height: 22px;
}
.icon-i_mob-menu {
	fill: $active;
	width: 22px;
	height: 19px;
}
.icon-i-pagination_arr {
	width: 7px;
	height: 12px;
	fill: $icons;
}
.icon-i_favorite_n{
	width: 20px;
	height: 19px;
	fill: $active;
}
.icon-i_favorite_a{
	width: 24px;
	height: 23px;
	fill: $active;
}

.icon-i_tel {
	width: 16px;
	height: 18px;
	fill: $active;
}
.icon-i_mail {
	fill: $active;
	width: 20px;
	height: 14px;
}
.icon-i_house {
	width: 19px;
	height: 17px;
	fill: $active;
}

.icon-i_brush {
	width: 21px;
	height: 21px;
	fill: $active;
}
.icon-loading {
	width: 38px;
	height: 38px;
	fill: $active;
}
.icon-play-video {
	width: 58px;
	height: 58px;
}

.icon-i_cake {
	height:(21)*1px;
	width:(20)*1px;
	fill: $active;

}
.icon-i_cake_about {
	height:(100.6)*1px;
	width:(216.49)*1px;
}
.icon-i_candy_about {
	height:(99.36)*1px;
	width:(201.68)*1px;
}
.icon-i_cart {
	height:(24)*1px;
	width:(22)*1px;
	fill: $active;
}
.icon-i_cross {
	height:(15.41)*1px;
	width:(15.41)*1px;
	fill: $icons;
	&:hover {
		fill:$active;
	}
}
.icon-i_dandruff {
	height:(19.21)*1px;
	width:(19.21)*1px;
	fill: $active;
}
.icon-i_inventory {
	fill: $active;
	height:(20.14)*1px;
	width:(20.14)*1px;
}
.icon-i_minus {
	height:(2)*1px;
	width:(8)*1px;
}
.icon-i_ok {
	height:(43.92)*1px;
	width:(44)*1px;
	fill: $active;
	&:hover {
		fill: #F58220;
	}
}
.icon-i_ok_g {
	height:(30.57)*1px;
	width:(18.38)*1px;
	fill: $icons;
	&:hover {
		fill: #F58220;
	}
}
.icon-i_person {
	height:(20)*1px;
	width:(16)*1px;
}
.icon-i_plus {
	height:(8)*1px;
	width:(8)*1px;
}
.icon-i_slider_arr_l {
	height:(12.35)*1px;
	width:(49.6)*1px;
}
.icon-i_slider_arr_r {
	height:(12.35)*1px;
	width:(49.6)*1px;
}
.icon-i_star_adv {
	height:(124)*1px;
	width:(130.81)*1px;
}
.icon-i_vk {
	fill: $active;

	height:(43.92)*1px;
	width:(44)*1px;
	&:hover {
		fill: #507299;
	}
}
.icon-i_vk_g {
	height:(17.48)*1px;
	width:(30.95)*1px;
	fill: $icons;
	&:hover {
		fill: #507299;
	}
}
.icon-sort_desc {
	height:(10)*1px;
	width:(13)*1px;
}
.icon-view_block {
	height:(16)*1px;
	width:(16)*1px;
	fill: $icons;
	&:hover {
		fill: $active;
	}
}
.icon-view_line {
	height:(16)*1px;
	width:(16)*1px;
	fill: $icons;
	&:hover {
		fill: $active;
	}
}
