@mixin bshadow($direction) {
	$y: 5;

	@if $direction == '-' {
		$y: $y * (-1);
	}
	box-shadow: 0 (#{$y}px) 25px 0 rgba(86,58,17,.15);
}
@mixin ui_block($color) {
	$border_color: $active;

	@if $color != '' {
		$border_color: $color;
	}
	border-top: 10px solid #{$border_color};
	border-radius: 5px;
	background-color: #fff;

	@include bshadow( '+');
}
@mixin ui_block_news($color) {
	$border_color: $active;

	@if $color != '' {
		$border_color: $color;
	}

	border-top: none;
	position: relative;
	z-index: 1;
	overflow: hidden;
	> * {
		z-index: 1;
		position: relative;
	}
	&:after {
		z-index: 0 !important;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
		height: 10px;
		border-radius: 5px 5px 0 0;
		background-color: #{$border_color};
	}
	&:before {
		z-index: 0 !important;
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		border: 2px solid $line;
		transition: border 0.3s;
	}
	&:hover {
		&:before {
			border-color: #fff;
			border-color: transparent;
		}
	}
}
// заголовки

.ui_head1 {
	font-size: 40px;
	line-height: 48px;
	line-height: 1.2;
	font-weight: 500;
}

.ui_head1_normal {
	@extend .ui_head1;
	color: $head_descr;
}

.ui_head1_white {
	@extend .ui_head1;
	color: #ffffff;
}

.ui_head2 {
	font-size: 30px;
	line-height: 36px;
	line-height: 1.2;
	font-weight: 500;
}

.ui_head2_normal {
	@extend .ui_head2;
	color: $head_descr;
}

.ui_head2_white {
	@extend .ui_head2;
	color: #ffffff;
}

.ui_head3 {
	font-size: 22px;
	// font-size: 19px;
	line-height: 30.8px;
	line-height: 1.4;
	font-weight: 500;
	// font-weight: 400;
	color: $head_descr;
}
// текст описания
//

.ui_descr {
	font-size: 21px;
	line-height: 29.4px;
	line-height: 1.4;
	font-weight: 400;
}

.ui_descr_normal {
	@extend .ui_descr;
	color: $descr_adition;
}

.ui_descr_white {
	@extend .ui_descr;
	color: #fff;
}

.ui_descr_black {
	@extend .ui_descr;
	color: $head_descr;
}

.ui_text_n {
	font-size: 19px;
	line-height: 30.4px;
	line-height: 1.6;
	font-weight: 400;
	color: $main_t;
}

.ui_text_sm {
	font-size: 19px;
	line-height: 26.6x;
	line-height: 1.4;
	font-weight: 400;
	color: $main_t;
}

.ui_text_bw {
	font-size: 19px;
	line-height: 26.6px;
	line-height: 1.4;
	font-weight: 500;
	color: $main_t;
}

.ui_addition {
	font-size: 15px;
	line-height: 21px;
	line-height: 1.4;
	font-weight: 400;
}

.ui_addition_normal {
	@extend .ui_addition;
	color: $descr_adition;
}

.ui_addition_dark {
	@extend .ui_addition;
	color: $main_t;
}

.ui_activeLink {
	line-height: 1.4;
	font-weight: 400;
	transition: color 0.3s;
	// color : $active;
	//  	&:hover {
	// 	color: #fff;
	// }
	// &:visited {
	// 	color : $descr_adition;
	// }
}

.ui_activeLink_accent {
	color: $active;
}

.ui_activeLink_white {
	color: #fff;
}

.ui_activeLink_grey {
	color: $descr_adition;
}

.ui_activeLink_normal {
	@extend .ui_activeLink;
	font-size: 19px;
}

.ui_activeLink_small {
	@extend .ui_activeLink;
	font-size: 15px;
}

h1 {
	@extend .ui_head1_normal;
}

h2 {
	@extend .ui_head2_normal;
}

h3 {
	@extend .ui_head3;
}
//
//
//
//
//
//

.ui_breadCrumbs {
	font-size: 12px;
	color: $descr_adition;
	line-height: 1.2;
	font-weight: 400;
}

.ui_button_accent {
	display: inline-block;
	text-align: center;
	min-height: 50px;
	min-width: 220px;
	padding: 12px 30px;
	background: $active;
	border-radius: 5px;
	@include bshadow( '+');
	@extend .ui_text_sm;
	color: #fff;
  transition: box-shadow .1s ease, transform .1s ease;
	position: relative;

	&:focus {
	  outline: none;
	}

	&:active {
		transform: scale(0.95);
	  box-shadow: 0px 2px 10px rgba(86, 58, 17, .2);
	}

	&:hover {
		text-decoration: none;
		.btnTxt{
		  top: -16px;
		  opacity: 0;
		  transition:
		    opacity .2s ease-out,
		    top .2s ease-out;
		}
		&:after{
			top: 2px;
			opacity: 1;
			transition:
			opacity .3s ease-out,
			top .3s ease-out;
		}
	}

	.btnTxt {
	  position: relative;
	  top: 0px;
	  opacity: 1;

	  transition:
	    opacity .3s ease-out,
	    top .3s ease-out;
	}
	.btnTxt-mob {
		display: none;
		position: relative;
		top: 0px;
		opacity: 1;

		transition:
			opacity .3s ease-out,
			top .3s ease-out;
	}
	&:after {
	  content: attr(data-text);
		display: block;
	  position: absolute;
	  top: 20px;
		left: 0;
		right: 0;
		padding: 10px 20px;
	  opacity: 0;
	  transition:
	    opacity .2s ease-out,
	    top .2s ease-out;
	}
}
// ui block effect
//

.ui-block {
	border-radius: 5px;
}

.ui-block_card {
	//Карточки новостей, товаров и некторые другие
	@extend .ui-block;
	border: 2px solid transparentize($line, 0);
}

.ui-block_second-level {
	// Второй уровень каталога
	@extend .ui-block;
	box-shadow: 0 2px 5px rgba(86, 58, 17, 0.2);
}

.ui-block_complicated {
	// Сложные интерактивные карточки, ховеры и др.
	@extend .ui-block;
	box-shadow: 0 5px 25px rgba(86, 58, 17, 0.15);
}

.ui-block_fields {
	// Поля раскрытых дроп-даунов, поиска и корзины
	@extend .ui-block;
	box-shadow: 0 8px 20px rgba(86, 58, 17, 0.1);
}


 /*
		ЧЕКБОКСЫ
		СЕЛЕКТЫ

  */
label.ui_radio {
	display: block;
  input {
    display: none;
    &:checked {
      + .radio-wrap {
				.flag:after {
						opacity: 1;
				}
				.text {
					@extend .ui_activeLink_accent;
				}
			}
    }
  }
	&:hover {
		.radio-wrap .flag:after {
			opacity: 0.5;
		}
	}
  .radio-wrap {
		min-height: 24px;
		padding-top: 5px;
		position: relative;
    padding-left: 30px;
    .text {
			@extend .ui_addition_dark;
		}
    .flag {
			width: 24px;
			border-radius: 50%;
      height: 24px;
      border: 2px solid $active;
      position: absolute;
			top: 3px;
			left: 0;
      &:after {
        opacity: 0;
				transition: opacity 0.3s;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
				background-color: $active;
				border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -6px;
      }
    }
  }

}

@include breakpoint_max(1299) {
	.ui_button_accent {
		min-width: auto;
	}
}
