extends _layout.pug
block main
	.cart-page__wrap
		.cart-page.page
			+breadcrumbs(['Главная','Корзина'])
			h1.page__title Корзина и оформление заказа
			.cart-sections__wrapper
				.right-side
				.left-side
					.cart-section__wrap
						.section__title Подробнее о товаре