extends _layout.pug
block footer
block main
	.contacts_page
			.contacts-wrapper
					.container
							+breadcrumbs(['Главная','Контакты'])
							.contacts-content
									h1.htb-title
											| Контакты
									p.page__info-text
										| Чтобы наше общение было наиболее успешным, пожалуйста, <br>
										| указывайте номер заказа, и сохраняйте историю переписки.
									a(href="#" data-text='Написать сообщение').contacts__message-link
										span.btnTxt Написать сообщение
									.map-adress
											.contacts-info
													.c-block-shop
															h3.block-home
																+icon('i_house')
																|
																|
																| Адрес розничного магазина
															p
																| М. Марьина роща, 
																| Сущевский вал, 46, <br>
																|	Марьинский у-г, 3 этаж <br>
																|	С 10:00 до 23:00
															a(href="#").c-tel Панорама магазина
															a(href="#").c-tel Трансляция из магазина
													.c-block-shop
															h3.block-phone
																+icon('i_tel')
																|
																|
																| Телефоны интернет магазина
															p
																	a.contacts-tel(href="tel:74959225955") +7 (495) 922-59-55
																	a.contacts-tel(href="tel:74956447572") +7 (495) 644-75-72
													.c-block-shop
															h3.block-mail
																+icon('i_mail')
																|
																|
																| Электронная почта
															p
																	a.contacts-mail(href="mailto:voprosrukovodstvo@mail.ru") voprosrukovodstvo@mail.ru
													ul.social-list
														li.social-item
															a(href="#").social-link.social-vk
																+icon('i_vk','')
														li.social-item
															a(href="#").social-link.social-ok
																+icon('i_ok','')
			.map-container
					#map_canvas
