extends _layout.pug
block main
	.how-to-buy_page
			.container
					+breadcrumbs(['Главная','О компании','Как купить'])
					.how-to-buy
							h4.htb-title
									| Как купить
							p.htb-text
									| Доставка товаров, представленных в нашем <br>
									| интернет-магазине, осуществляется при заказе на сумму от <br> 500 рублей

							.htb-infos
									.htb-info
											p Наш магазин работает по будням с 10:00 до 19:00, и в субботу с 10:00 до 18:00. Оформить заказ на сайте можно круглосуточно.
									.htb-info
											p Пожалуйста, проверяйте правильность доставки перед приёмом заказа. После приёма, мы не сможем рассмотреть ваши жалобы!
					.payment-methods
							h4.htb-title.htb-title--low
									| Способы оплаты
							.methods-items
									.methods-item
											.m-img
													img(src="img/icons/pay-1.svg", alt="")
											.m-dscr
													p.
															Наличными <br>
															при доставке курьеромt
									.methods-item
											.m-img
													img(src="img/icons/pay-2.svg", alt="")
											.m-dscr
													p.
															Безналичным <br> рассчётом на наш счёт
									.methods-item
											.m-img
													img(src="img/icons/pay-3.svg", alt="")
											.m-dscr
													p.
															Переводом <br> на карточку VISA
					.ways-of-delivery
							h4.htb-title.htb-title--low
									| Способы доставки
							p.htb-text
							.delivery-items
									.delivery-item
											.d-info
													span.d-title
															| от 359 ₽
													span.w-title
															| Курьером по Москве
													p.sub-title.
															Доставка в пределы и за пределы МКАД, <br> оплата производится наличными
											.show-more
													p Посмотреть детали
											.more-details
													p.
															Доставка в Москву и Санкт Петербург —
															420 руб, расчёт стоимости в другие
															регионы производит оператор.
													p.
															Посылки по Москве и Подмосковь
															отправляются без предоплаты,
															покупатель оплачивает при получении.
															Посылки в Регионы отправляются по
															100% предоплате.
															Вес посылок не должен превышать 10 кг.
													a(href="#") Видео инструкция
													a(href="#") Ваш город на карте PickPoint
													a(href="#") Мониторинг отправления
									.delivery-item
											.d-info
													span.d-title
															| от 420 ₽
													span.w-title
															| Доставка в PickPoint
													p.sub-title.
															Товар доставляется в постамат, откуда вы сами забираете заказ в удобное вам время
											.show-more
													p Посмотреть детали
											.more-details
													p.
															Доставка в Москву и Санкт Петербург —
															420 руб, расчёт стоимости в другие
															регионы производит оператор.
													p.
															Посылки по Москве и Подмосковь
															отправляются без предоплаты,
															покупатель оплачивает при получении.
															Посылки в Регионы отправляются по
															100% предоплате.
															Вес посылок не должен превышать 10 кг.
													a(href="#") Видео инструкция
													a(href="#") Ваш город на карте PickPoint
													a(href="#") Мониторинг отправления
									.delivery-item
											.d-info
													span.d-title
															| от 600 ₽
													span.w-title
															| Транспортные компании
													p.sub-title.
															Доставка осуществляется транспортной компанией Деловые линии.
											.show-more
													p Посмотреть детали
											.more-details
													p.
															Доставка в Москву и Санкт Петербург —
															420 руб, расчёт стоимости в другие
															регионы производит оператор.
													p.
															Посылки по Москве и Подмосковь
															отправляются без предоплаты,
															покупатель оплачивает при получении.
															Посылки в Регионы отправляются по
															100% предоплате.
															Вес посылок не должен превышать 10 кг.
													a(href="#") Видео инструкция
													a(href="#") Ваш город на карте PickPoint
													a(href="#") Мониторинг отправления


							.delivery-type
									h4.dev-title
											| Доставка почтой России и почтой EMS
									p.dev-text.
											Стоимость доставки рассчитывается
											на основе таблицы. Для <br>
											Дальневосточного, Сибирского, Северо-западного
											(Коми, Мурманск) <br>
											и Уральского федеральныч округов, указанная в таблице <br>
											стоимость, умножается на 2
									.dev-table
											table.table
													tr.tr.tr-accent
															td Стоимость заказа
															td До 1000 ₽
															td До 2000 ₽
															td До 3000 ₽
															td До 5000 ₽
															td До 10000 ₽
															td До 20000 ₽
													tr.tr.tr-row
															td
																	span Почта России <br>
																	p До 30 дней в местное <br> отделение связи
															td 250 ₽
															td 350 ₽
															td 390 ₽
															td 450 ₽
															td 550 ₽
															td 750 ₽
													tr.tr.tr-row
															td
																	span Почта EMS <br>
																	p До 7 дней до дверей <br> квартиры
															td -
															td 790 ₽
															td 990 ₽
															td 1090 ₽
															td 1290 ₽
															td 1490 ₽
							.delivery-type
									h4.dev-title
											| Доставка в пункты самовывоза в Москве
									p.dev-text.
											Стоимость доставки в пункт самовывоза — 100 ₽.
											Чтобы заказ был <br> готов и собран к вашему приезду
											в пункт самовывоза, необходимо <br> предварительно
											согласовать его с оператором. Заказы поступают в <br>
											пункты самовывоза после <br> 15 часов, на следующий
											день после передачи в курьерскую службу.
			.map-container
					.container
							.map-adress
									.adress-content
											h4
													| Розничный магазин
											p.
													Сущевский вал, 46 <br>
													Марьинский у-г, 3 этаж <br>
													Работает с 10:00 до 20:45
											a(href="tel:74959225955") +7 (495) 922-59-55
									ul.adress-list
											li На Лучниковом пер.
											li У м. Петровско-Разумовская
											li На Новочеркасском б-ре
											li На Братиславской
											li На Дубравной
											li У Электрозаводской
											li У Чертановской
					#map_canvas
