extends _layout.pug
block main
  .managmant-contact__page
    .container
      +breadcrumbs(['Главная','Связь с руководством'])
      h1.page__title Связь с руководством
      .managmant-contact__content
        p Уважаемые покупатели!
        p Если у Вас возникли вопросы к руководству, либо есть какие либо претензии по доставке, по товару и др., пожалуйста, пишите на адрес: 
          |
          | 
          a(href='mailto:voprosrukovodstvo@mail.ru ') voprosrukovodstvo@mail.ru 
        p Пожалуйста, указывайте в вопросе номер заказа. А также отвечайте на предыдущее письмо с сохранением переписки, чтобы видна была история вопросов и ответов.
        p Все вопросы будут рассмотрены в индивидуальном порядке. Сборку каждого заказа можно проверить по камерам, поэтому ничего не останется незамеченным. Мы компенсируем наши ошибки и сделаем все возможное, чтобы покупки в нашем магазине приносили только положительные эмоции.
        p Нам важен каждый покупатель!
    .container
      +recentlyViewed('Вам могут понравиться','j_recently-viewed-1')
