extends _layout.pug
block main
  .news-page__wrap
    .news-page.page
      .part-with-sidebar
        .sidebar__wrap
          .sidebar__block.no_padding
            +aboutMenu(1)
        .page-content__wrap
          +breadcrumbs(['Главная','О компании','Новости','Лимитирование поставок'])
          h1.page__title Новости
          .news-tag__block
            ul.news-tag__list
              -var colors= ['goods','sale','other']
              each item,index in ['Товары','Акции','Другое']
                li.news-tag__item
                  a.news-tag__link(href='#' class= 'news-tag__link_'+colors[index])=item
              li.news-tag__item
                a.news-tag__all-link(href='#') Показать все тэги
          // .page-content__inner-wrap
          ul.news__list
            each item in [1,2,3]
              +newsList
