extends _layout.pug
block main
  .single-news-page__wrap.personal-page
    .single-news-page.page
      .part-with-sidebar
        .sidebar__wrap
          .sidebar__block.no_padding
            +aboutMenu(['personal',1])
          .personal__list
            h2.personal-sm-title
              | Товары специально для вас
            .goods__list.catalog__products-list#j_cat-prod-list(data-mode='mode_block')
              +goodsBlock('','')
              +goodsBlockSimple
        .page-content__wrap
          +breadcrumbs(['Главная','Уголок покупателя'])
          block innerContentOuter
            h1.page__title Активные заказы 
          .page-inner-content__wrap
            .content-side
              p.page__info-text Отслеживайте свои заказы от покупки до доставки. Не стесняйтесь, звоните нам по любым вопросам.
              +orderBlock
            .inner-sidebar
              .information__block
                p.text Отслеживайте свои заказы от покупки до доставки. Не стесняйтесь, звоните нам по любым вопросам.
                a.tel(href='tel:+74956447572') +7 (495) 644-75-72
                a.callback-request(href='#') Заказать обратный звонок
              h2.personal-sm-title
                | Рецепты для вас
              ul.news__list
                li.news__item.j_equal-height.news__item_recipe
                  .news__item-inner
                    .news__item-text
                      a.news__title(href='#') Как приготовить самые нежные кексы на свете?
                      .news__addition.personal-addition 20 июля 2017 года
                    .tags__block
                      a.tag.tag-recipe(href='#') Акции
                li.news__item.j_equal-height.news__item_recipe
                  .news__item-inner
                    .news__item-text
                      a.news__title(href='#') Рецепт шоколадного торта с ягодами
                      .news__addition.personal-addition 20 июля 2017 года
                    .tags__block
                      a.tag.tag-recipe(href='#') Акции
      +recentlyViewed('Вы недавно смотрели','j_recently-viewed-1')
      +recipesSlider('Рецепты у нас в блоге')
