extends _layout.pug
block main
	.reviews-page__wrap
		.reviews-page.page
			.part-with-sidebar
				.sidebar__wrap
					.sidebar__block.no_padding
						+aboutMenu
				.page-content__wrap
					+breadcrumbs(['Главная','О компании','Отзывы','Лимитирование поставок'])
					h1.page__title Отзывы
					.page-inner-content__wrap
						.content-side
							p.page__info-text Поделитесь с нами вашими впечатлениями о работе магазина, например о качестве и скорости доставки, вежливости сотрудников, аккуратностью упаковки.
							a.review__add-link(href='#') Добавить отзыв
							ul.reviews__list
								each item in [1,2,3]
									+reviewItem(item)
							a.reviews__show-more(href='#') Показать больше отзывов
						.inner-sidebar
							.interactive-card.inventory-sale
								.text Распродажа инвентаря для украшения тортов
								img.bg(src='img/content/cake_sale.png')
							+interactiveCardCupcakes
