extends catalog.pug
block catalog-top-part
  .breadcrubms
    ul
      li
        a(href="#") Главная
      li
        a(href="#") Лавка кулинара
      li
        a(href="#") Оформление
      li
        a(href="#") Украшения
  h1.page__title Украшения
  p.page__info-text Украшения для тортов и другой выпечки от ведущих <br> отечественных и зарубежных производителей.
  .announcement__block
    h2.announcement__title Распродажа украшений для тортов
    .announcement__text Скидки до 30% на украшения, айсинг и многое другое. <br> Время акции ограничено, успейте на распродажу!
    
  
