- var footerList1 = ['О компании', 'Как купить', 'Контакты', 'Распродажа', 'К празднику', 'Поступления'];
- var footerList2 = ['Агар-агар, пектин', 'Ароматизаторы', 'Айсинг, гель, глазурь', 'Ваниль, ванильная паста', 'Десерты, крем, топпини', 'Все разделы'];
- var footerList3 = ['Аксессуары для цветов, пектин', 'Выемки для теста, каттеры', 'Капсулы для айсинга', 'Кондитерские мешки, бумага', 'Книги и журналы', 'Все разделы'];
footer.footer
    .container
        .footer-lists
            ul.f_left-list.f_main-list
                each item in footerList1
                    li.f_main-item
                        a(href="#").f_main-link=item
            ul.f_left-list.f_left-list-1
                span.f-l-title
                    | Лавка кулинара
                each item in footerList2
                    li.f_left-item
                        a(href="#").f_left-link=item
            ul.f_left-list.f_left-list-2
                span.f-l-title
                    | Кондитерский инвентарь
                each item in footerList3
                    li.f_left-item
                        a(href="#").f_left-link=item
            .f_left-list.f_left-list-3
                span.f-l-title
                    | Розничный магазин
                .f_left-item
                    .f_left-link
                        | Сущевский вал, 46 <br>
                        | Метро Марьина Роща <br>
                        | Марьинский у-г, 3 этаж <br>
                        | Работаем с 10:00 до 20:30
                .f_left-item
                    a(href="#").f_left-link
                        | Посмотреть на карте
            .f_left-list.f_left-list-4
                .f-tel-block
                    p
                        a.tel(href="tel:74959225955") +7 (495) 922-59-55
                        a.tel(href="tel:74956447572") +7 (495) 922-59-55
                    a.tel-block__text(href='#') Написать сообщение
                    ul.social-list
                        li.social-item
                            a(href="#").social-link.social-vk
                        li.social-item
                            a(href="#").social-link.social-ok

    .rights-reserved
        .container
            .rights-reserved-body
                span 
                    | © 2017, Вкусный магазин
                span 
                    | Создание сайта — 
                    a(href="#") ChezLab