header.header
	.container
		.first-line
			a.logo(href='index.html')
				svg.logo__img(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='200', height='67', viewbox='0 0 200 67')
					title Лого
					g#circles
						circle.Cir1(cx='49', cy='61', r='3', stroke='#ff746b', fill='none')
						circle.Cir2(cx='8', cy='18', r='5', stroke='#ff746b', fill='none')
						circle.Cir3(cx='81', cy='5', r='2', stroke='#fb3', fill='none')
						circle.Cir6(cx='10', cy='53', r='1.5', stroke='#fb3', fill='none')
						circle.Cir5(cx='175.5', cy='57.5', r='4.5', stroke='#fb3', fill='none')
						circle.Cir4(cx='189.5', cy='22.5', r='7', stroke='#ff746b', fill='none')
					path(d='M42.16 34.75a4.19 4.19 0 0 1-.49 2.07 4.28 4.28 0 0 1-1.35 1.46 6.34 6.34 0 0 1-2 .88 9.47 9.47 0 0 1-2.41.3H27V24.29a3.58 3.58 0 0 0-2-3.2h12.2a3.63 3.63 0 0 1 1.73.41 4.33 4.33 0 0 1 1.32 1.07 4.91 4.91 0 0 1 .84 1.5 5.11 5.11 0 0 1 .3 1.72 5 5 0 0 1-.66 2.48 4.17 4.17 0 0 1-2 1.76 4.76 4.76 0 0 1 2.5 1.66 4.86 4.86 0 0 1 .93 3.06zm-10.94-10v3.8h4.16a1.85 1.85 0 0 0 1.25-.55 1.81 1.81 0 0 0 .54-1.45 1.92 1.92 0 0 0-.48-1.4 1.55 1.55 0 0 0-1.15-.49zm6.62 9.18a2.2 2.2 0 0 0-.49-1.45 1.54 1.54 0 0 0-1.24-.59h-4.89v4h4.71a1.86 1.86 0 0 0 1.37-.54 1.92 1.92 0 0 0 .54-1.45zm10.57-5.54h1l5.35-7.29h4.78L52.91 30l7.19 9.49h-4.73l-5.61-7.22h-1.35v7.22h-4.24v-15.2a3.58 3.58 0 0 0-2-3.2h6.22zm17.78 11.25a5.2 5.2 0 0 1-.67-.05q-.39-.05-.79-.14a5.22 5.22 0 0 1-.79-.25 3 3 0 0 1-.7-.39l.76-3.49.7.39a2.3 2.3 0 0 0 1.09.26 1.8 1.8 0 0 0 1.14-.36 1.6 1.6 0 0 0 .34-2l-6.38-12.52h4.66l4 9.1 3.72-9.1h4.47l-6.47 14a20.44 20.44 0 0 1-1.1 2.11 6.47 6.47 0 0 1-1.13 1.41 3.94 3.94 0 0 1-1.29.8 4.61 4.61 0 0 1-1.56.23zm11.28-9.52a9.26 9.26 0 0 1 .62-3.3 9 9 0 0 1 1.81-2.94 9.21 9.21 0 0 1 2.9-2.1 9 9 0 0 1 3.88-.8 8.73 8.73 0 0 1 4.49 1.11A7.19 7.19 0 0 1 94 25l-1.92 1.34a1.64 1.64 0 0 1-2.08-.26 4.3 4.3 0 0 0-2.21-1.19 6 6 0 0 0-1.16-.12 4.38 4.38 0 0 0-2.12.49A4.66 4.66 0 0 0 83 26.52a5.26 5.26 0 0 0-.88 1.76 7.14 7.14 0 0 0-.28 2 6.59 6.59 0 0 0 .34 2.1 5.59 5.59 0 0 0 1 1.78 4.69 4.69 0 0 0 1.53 1.23 4.36 4.36 0 0 0 2 .45 5.16 5.16 0 0 0 1.18-.14 4.77 4.77 0 0 0 1.11-.45 4.19 4.19 0 0 0 1-.78 1.63 1.63 0 0 1 2-.35l2.14 1.26A5.38 5.38 0 0 1 93 37.15a7.57 7.57 0 0 1-1.9 1.35 10.29 10.29 0 0 1-4.58 1.11 8.22 8.22 0 0 1-3.66-.81A9.25 9.25 0 0 1 80 36.64a9.88 9.88 0 0 1-1.86-3.05 9.53 9.53 0 0 1-.67-3.47zm34.99-9.03v18.37h-4.24v-7.53h-7.32v7.53h-4.24V24.29a3.58 3.58 0 0 0-2-3.2h6.22v7.11h7.32v-7.11zm8.23 0v6.29h3.26a8.44 8.44 0 0 1 2.68.4 5.79 5.79 0 0 1 2.06 1.16 5.13 5.13 0 0 1 1.31 1.88 6.43 6.43 0 0 1 .47 2.51 7 7 0 0 1-.45 2.59 5.28 5.28 0 0 1-1.29 1.93 5.66 5.66 0 0 1-2 1.2 7.68 7.68 0 0 1-2.59.41h-7.71V21.09zm0 14.77h2.92a2.47 2.47 0 0 0 1.9-.69 3 3 0 0 0 0-3.7 2.38 2.38 0 0 0-1.89-.74h-2.92zm12.08 3.6V21.09H137v18.37zm12.47-6.6l8.64-11.77H157v18.37h-4.24V28l-8.54 11.48H141V24.29a3.58 3.58 0 0 0-2-3.2h6.24zm10.14-26.2c.66 3.65.39 6.19-.79 7.88-1.33 1.9-4 3.08-8.24 3.6-1.77-6.73.56-7.67 4.56-9.27a22.89 22.89 0 0 0 4.48-2.2m-75.5 44.4l3.4-6.07h3v11.44h-2.8v-6.9l-2.91 5.17h-1.39l-2.91-5.17v6.9h-2.8V47a3 3 0 0 0-.87-2h3.89zm12.25 5.59a4.36 4.36 0 0 1-1.56-.27 3.74 3.74 0 0 1-1.25-.77 3.56 3.56 0 0 1-.82-1.15 3.48 3.48 0 0 1-.3-1.45 3.19 3.19 0 0 1 .36-1.5 3.44 3.44 0 0 1 1-1.17 5 5 0 0 1 1.54-.76 6.74 6.74 0 0 1 2-.27 8.5 8.5 0 0 1 1.5.13 6.12 6.12 0 0 1 1.3.37v-.66a2.3 2.3 0 0 0-.65-1.75 2.69 2.69 0 0 0-1.92-.61 5.08 5.08 0 0 0-1.8.33q-.29.11-.59.25a1.36 1.36 0 0 1-1.84-.6l-.27-.56a8.48 8.48 0 0 1 4.78-1.47A5.6 5.6 0 0 1 97.48 46a4.46 4.46 0 0 1 1.37 3.52v3.57a1 1 0 0 0 .16.66.72.72 0 0 0 .54.22v2.5a6.56 6.56 0 0 1-1.29.15 2 2 0 0 1-1.26-.4 1.6 1.6 0 0 1-.56-1l-.07-.64a5.08 5.08 0 0 1-1.86 1.53 5.35 5.35 0 0 1-2.37.55zm.86-2.15a3.83 3.83 0 0 0 1.41-.26 2.56 2.56 0 0 0 1-.7 1.05 1.05 0 0 0 .48-.83V51.4a7.21 7.21 0 0 0-1.14-.32 6.16 6.16 0 0 0-1.16-.08 3.14 3.14 0 0 0-1.86.51 1.55 1.55 0 0 0-.72 1.3 1.57 1.57 0 0 0 .56 1.19 2.07 2.07 0 0 0 1.43.51zm16.38-7.12h-4.8v9h-2.91V47a3 3 0 0 0-.86-2.08h8.57zm4.82 9.27a4.36 4.36 0 0 1-1.56-.27 3.74 3.74 0 0 1-1.25-.77 3.56 3.56 0 0 1-.82-1.15 3.48 3.48 0 0 1-.3-1.45 3.19 3.19 0 0 1 .36-1.5 3.44 3.44 0 0 1 1-1.17 5 5 0 0 1 1.54-.76 6.74 6.74 0 0 1 2-.27 8.5 8.5 0 0 1 1.5.13 6.12 6.12 0 0 1 1.3.37v-.66a2.3 2.3 0 0 0-.65-1.75 2.69 2.69 0 0 0-1.92-.61 5.08 5.08 0 0 0-1.8.33q-.29.11-.59.25a1.36 1.36 0 0 1-1.84-.6l-.27-.56a8.48 8.48 0 0 1 4.78-1.47 5.6 5.6 0 0 1 3.86 1.25 4.46 4.46 0 0 1 1.37 3.52v3.57a1 1 0 0 0 .16.66.72.72 0 0 0 .54.22v2.5a6.56 6.56 0 0 1-1.29.15 2 2 0 0 1-1.28-.37 1.6 1.6 0 0 1-.56-1l-.07-.64a5.08 5.08 0 0 1-1.86 1.53 5.35 5.35 0 0 1-2.35.52zm.83-2.15a3.83 3.83 0 0 0 1.41-.26 2.56 2.56 0 0 0 1-.7 1.05 1.05 0 0 0 .48-.83V51.4a7.21 7.21 0 0 0-1.14-.32 6.16 6.16 0 0 0-1.18-.12 3.14 3.14 0 0 0-1.86.51 1.55 1.55 0 0 0-.72 1.3 1.57 1.57 0 0 0 .57 1.24 2.07 2.07 0 0 0 1.41.5zm8.07-8.3a5.64 5.64 0 0 1 1.86-1.1 6.23 6.23 0 0 1 2.06-.35 5.46 5.46 0 0 1 1.45.19 3.68 3.68 0 0 1 1.19.56 2.81 2.81 0 0 1 .61 3.82 2.14 2.14 0 0 1-1.39.87 3.09 3.09 0 0 1 1.88 1 3 3 0 0 1 .64 1.94 3 3 0 0 1-.34 1.43 3.38 3.38 0 0 1-.93 1.11 4.35 4.35 0 0 1-1.41.71 6.07 6.07 0 0 1-1.79.25 6.49 6.49 0 0 1-2.43-.44 4.49 4.49 0 0 1-1.78-1.2l.76-1a1 1 0 0 1 1.36-.23 2.82 2.82 0 0 0 .37.19 3.58 3.58 0 0 0 1.41.27 2.41 2.41 0 0 0 1.43-.37 1.24 1.24 0 0 0 .51-1.07 1.42 1.42 0 0 0-.58-1.22 3.4 3.4 0 0 0-2-.43h-.9v-1.71h.92a2.71 2.71 0 0 0 1.61-.41 1.23 1.23 0 0 0 .56-1 1 1 0 0 0-.41-.83 1.81 1.81 0 0 0-1.06-.28 3.28 3.28 0 0 0-1.2.25 3.65 3.65 0 0 0-.42.2 1 1 0 0 1-1.34-.24zm13.19 6.04l5.43-7.3h2.17v11.49H141v-7.1l-5.37 7.1h-2.23V47a3 3 0 0 0-.86-2.08h3.78zm13.27-2.96h4.56V45H157v11.44h-2.91v-4.65h-4.56v4.64h-2.91V47a3 3 0 0 0-.86-2.08h3.78z', fill='#fb3')
			.tel-block
				p
					a.tel(href="tel:74959225955") +7 (495) 922-59-55
					a.tel(href="tel:74956447572") +7 (495) 922-59-55
				a.tel-block__text(href='#') Отправьте сообщение, если не получилось дозвониться
			.menu-block
				menu.menu
					-var links = ['about.html','contacts.html','how-to-buy.html']
					each item,index in ['О компании','Контакты','Как купить']
						li.menu-item.menu-item_simple
							a.menu-link(href=links[index])
								span=item
					li.menu-item.menu-item_w-icon
						a.menu-link(href='#')
							+icon('i_person','menu-icon')
							span Уголок покупателя
		.second-line
			ul.additional-link__list
				-var icons = ['i_cake','i_inventory','i_brush'];
				each item, index in ['Лавка кулинара','Кондитерский инвентарь','Товары творчества']
					li.additional-link__item
						a.additional-link__link(href='#')
							+icon(icons[index])
							span=item
				li.additional-link__item.additional-link__search
					a(href='#').additional-link__link.j_search-init
						+icon('i_dandruff')
						span Поиск по магазину
			.search-block__wrap.j_search-result
				form.search-block__form
					button(type='submit')
						+icon('i_dandruff')
					input(type='text').search-block__field
					button(type='submit').search-block__submit Искать
					button(type='reset').search-block__close.j_search-close
						+icon_clean('i_cross')
				.search-block__results
					ul.search-result__list
						each item in [1,2]
							li.search-result__item
								.search-result__img-wrap
								.search-result__descr(href="#")
									.search-result__price 1299 ₽
									a.search-result__text
										h4.search-result__title Айсинг для надписей Красный, 85 гр. Wilton 710-2225
										.search-result__info США, 2,3 кг
						li.search-result__item
							a.all-results(href='#') Посмотреть все результаты поиска
			a.cart-block.j_cart-init(href='#')
				span.cart-text Корзина
				span.cart-summ 2046
				.cart-amount
					+icon('i_cart')
					span.amount 12
			.cart-details__wrap.j_cart-result
				.cart-details__status-line
					button(type='reset').search-block__close.j_cart-close
						+icon_clean('i_cross')
					.cart-block
						a.cart-details__link Перейти в корзину
						span.cart-summ 2046
						.cart-amount
							+icon('i_cart')
							span.amount 12
				.cart-details__content
					ul.cart-details__list
						each item in [1,2]
							li.cart-details__item
								.cart-details__img-wrap
								.cart-details__item-content(href="#")
									.cart-details__descr
										a.cart-details__text(href='#')
											h4.cart-details__title Айсинг для надписей Красный, 85 гр. Wilton 710-2225
											.cart-details__info США, 2,3 кг
										.cart-details__price 1299 ₽
										+productAmount('cart-details__amount')
									a.cart-details__remove-link(href='#') Удалить
