.cooking-store-page__wrap.bg_heading
	.cooking-store-page.page
		.part-with-sidebar
			.sidebar__wrap
				.sidebar__block.no_padding
					+aboutMenu(['big'])
				+newArrivals
				+interactiveCardCupcakes
			.page-content__wrap
				.about-header__wrap(style='background-image: url(img/bg/bg_main-header.jpg);')
					.container
						.about-header__wrap-inner
							.breadcrubms
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Лавка кулинара
							.about-header__content
								.about-header__title Кондитерские ингридиенты в лавке<br> кулинара
								.about-header__subtext Ингридиенты, начинка и украшения
				.about-text__container
					p Конечно, в нашем большом городе можно найти практически любые продукты. Но чтобы совершить покупку, нужно сначала найти где, а потом потратить несколько часов, чтобы туда добраться. К сожалению, из-за этого многие вынуждены отказываться от своих кулинарных замыслов! 
					p Этого не произойдёт, если вы заглянете в нашу Лавку кулинара, где мы собрали некоторые составляющие ваших будущих кулинарных шедевров. А чтобы они стали именно шедеврами с большой буквы, мы приготовили для вас продукты, которые используют в работе профессиональные повара и кондитеры.
				.popular-goods
						.section__title Вы недавно смотрели
						.popular-goods__slider.j_nav-index-fix.goods__list.mode_block.owl-carousel.j_popular-goods
							-for(var x=0;x<6;x++)
								+goodsBlock('','')
				.recent-news
						.section__title Новости
						.recent-news__slider.owl-carousel.j_recent-news
							-for(var x=0;x<2;x++)
								+newsList
		+recipesSlider('Рецепты у нас в блоге')
