.about-header__wrap  {
	height: 370px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #000;
		opacity: 0.6;
	}
	.container {
		position: relative;
		z-index: 1;
		padding-left: 335px;
		height: 100%;
		width: 100%;
		display: table;
	}
}



.about-sidebar__wrap {
	position: absolute;
	left: 15px;
	top: 0;
}
.sidebar__block{
	@include ui_block('');
	@extend .ui_text_bw;
	padding: 15px;
	width: 300px;
	margin-bottom: 20px;
	&.no_padding {
		padding: 0;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}
.about-header__wrap-inner {
	width: 100%;
	display: table;
	position: relative;
	height: 100%;
	.breadcrubms {
		display: table-row;
		height: 100%;
	}
}


.about-page {
	&__wrap {
		background-position: 	center;
		background-repeat: no-repeat;
		background-size: 	contain;
		background-image: url(../img/bg/bg_2.png);
	}
	.accent-block  {
		position: relative;
		left: -110px;
	}
	.breadcrubms {
		display: table-row;
		height: 100%;
		padding-top: 0;
	}
	.ui_head2_normal {
		margin-bottom: 35px;
	}
}
.about-header__content {
	display: table-row;
}
.about-header__title {
	@extend .ui_head1_white;
	margin-bottom: 12px;
}
.about-header__subtext {
	@extend  .ui_descr_white;
}
.sidebar__menu {
}
.sidebar__menu-item {
	border-bottom: 1px solid $line;
	&_extended {
		position: relative;
		&:hover {
			> .sidebar__sub-menu {
				// display: block;
				visibility: visible;
				opacity: 1;
				left: 100%;
				z-index: 0;
			}
		}
		> .sidebar__menu-link {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 15px;
				bottom: 0;
				margin: auto;
				width: 5px;
				height: 9px;
				background-image: url(../img/icons/menu_arrow.svg);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}
.sidebar__sub-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: left 0.5s,
				opacity 0.5s;
	transition-timing-function: easy-out;
	left: 50%;
	top: 0;
	background-color: #fff;
	width: 300px;
	@extend .ui-block_second-level;
	border-radius: 0 5px 5px 0;
}
.sidebar__menu-link {
	display: block;
	padding: 17px 20px;
	@extend .ui_activeLink_normal;
	&.active {
		@extend .ui_activeLink_accent;
	}
	&:hover {
		background-color: $decor;
	}
}
.about-content__wrap {
	margin-left: 300px;
	max-width: 900px;
	padding: 0 30px 115px;
}
p.simple {
	@extend .ui_text_n ;
}
.about-text__container {
	max-width: 650px;
	margin-bottom: 50px;
	@extend .ui_text_n ;

	p {
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.about__advantages {
	position: relative;
	left: -110px;
}
.about__advantages-list {
	@include clearfix;
	margin-bottom: 80px;
}
.about__advantages-item {
	float: left;
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	.icon-wrap {
		margin-bottom: 25px;
	}
}
.about__youll-find {
	position: relative;
	left: -110px;
	margin-bottom: 50px;
}
.about__youll-find__list {
	display: flex;
}
.about__youll-find__item {
	width: 48%;
	@include ui_block('');
	padding: 20px;
	text-align: center;
	&:nth-of-type(even) {
		margin-left: 2%;
	}
}
.about__youll-find__icon {
	margin-bottom: 10px;
}
.about__youll-find__title {
	@extend .ui_head3;
	margin-bottom: 10px;
}
.about__youll-find__text {
	@extend .ui_addition_normal;
	margin-bottom: 10px;
}
.about__youll-find__link {
	@extend .ui_activeLink_normal;
	@extend .ui_activeLink_accent;
}

.accent-block {
	margin-bottom: 40px;
	width: 100%;
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid $active;
	background-color: $decor;
	padding: 35px;
	border-radius : 5px;
	.ui_descr_black  {
		margin-bottom: 15px;
	}
	.ui_button_accent {
		height: 50px;
		padding: 12px 35px;
	}
}

@keyframes submenu {
	@keyframes shadow {
	from {
		display: block;
		transform: translateX(-100%);
	}
	50% {text-shadow: 0 0 30px black;}
	to {text-shadow: 0 0 3px black;}
	}
}
