.contacts_page {
  background-image: url("../img/bg/contacts_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contacts-content {
    .htb-text {
        margin-bottom: 30px;
    }
    margin-bottom: 70px;
    position: relative;
    .map-adress {
        top: -80px;
        bottom: auto;
    }
}
.contacts__message-link {
  @extend .ui_button_accent;
  min-width: 230px;
}
.btn {
    @include transition(.25s);
    @include border-radius(5px);
    border: 2px solid transparent;
    display: inline-block;
    background-color: $active;
    color: #fff;
    text-align: center;
    width: 260px;
    line-height: 50px;
    &:hover {
        border: 2px solid $active;
        background-color: #fff;
        color: $active;
    }
}

.contacts-info {
    padding: 20px;
}
.c-block-shop {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 30px;
    }
    h3 {
        color: #333;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
        .icon {
          vertical-align: baseline;
          margin-right: 5px;
        }
    }
    p {
        color: #1e1e1e;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        margin-bottom: 15px;
        a {
            display: block;
        }
    }
    .c-tel {
        font-size: 19px;
        color: $active;
        display: block;
        margin-bottom: 5px;
    }
}
.contacts-tel {
  color: $main_t;
}
.contacts-mail {
  color: $main_t;
}
