.footer {
    padding-top: 55px;
    border-top: 2px solid $active;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 1px;
        @include bshadow('-');
    }
}
.footer-lists {
    // border-bottom: 2px solid #f2f2f2;
    display: table;
    width: 100%;
}
.f_main-list {
    // margin-right: 92px;
    width: 210px;
    min-width: 130px;
}
.f_main-item {
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
}
.f_main-link {
    @include transition(.25s);
    font-size: 19px;
    color: #1e1e1e;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    &:hover {
        border-bottom: 2px solid #fb3;
        text-decoration: none;
    }
}
.f_left-list {
    // display: inline-block;
    // vertical-align: top;
    display: table-cell;
}
.f_left-list-1 {
    // margin-right: 35px;
    min-width: 190px;
}
.f_left-list-2 {
    width: 415px;
}
.f_left-list-3 {
    min-width: 190px;
}
.f_left-list-4 {
    text-align: right;
    min-width: 165px;
    .social-list {
      text-align: center;
    }
}
.f-l-title {
    font-size: 19px;
    color: #1e1e1e;
    display: block;
    margin-bottom: 12px;
}
.f_left-link {
    cursor: pointer;
    @include transition(.25s);
    color: #b2b2b2;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    &:hover {
        color: #fb3;
        text-decoration: none;
    }
}
.f_left-item {
    margin-bottom: 7px;
    &:last-child {
        margin-top: 10px;
        .f_left-link {
            color: #fb3;
            font-weight: 400;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            &:hover {
                border-bottom: 2px solid #fb3;
            }
        }
    }
}
.rights-reserved {
    margin-top: 55px;
    height: 105px;
    line-height: 105px;
}
.rights-reserved-body {
    border-top: 2px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    span {
        color: #1e1e1e;
        font-size: 19px;
        .created-by {
            @include transition(.25s);
            color: #fb3;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            &:hover {
                border-bottom: 2px solid #fb3;
                text-decoration: none;
            }
        }
    }
}
.f-tel-block {
    .tel {
        display: block;
        font-size: 19px;
        color: #1e1e1e;
        margin-bottom: 11px;
        &:last-child {
            margin-bottom: 10px;
        }
        &:hover {
          text-decoration: none;
        }
    }
    .tel-block__text {
        @include transition(.25s);
        font-size: 15px;
        color: #fb3;
        display: inline-block;
        margin-bottom: 14px;
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        &:hover {
            border-bottom: 2px solid #fb3;
        }
    }
}
.social-item {
    display: inline-block;
    margin: 0 7px;
    &:last-child {
        margin-right: 0;
    }
}
.social-vk {
    display: block;
    width: 44px;
    height: 44px;
    &:hover {
      fill: #507299;
    }
    // background-image: url("../img/icons/vk.svg");
}
.social-ok {
    display: block;
    width: 44px;
    height: 44px;
    &:hover {
      fill: #507299;
    }
    // background-image: url("../img/icons/ok.svg");
}
