.header {
    box-shadow: 0 2px 43px -4px rgba(125, 121, 125, 0.2);
    border-bottom: 1px solid #F2F2F2;;
    position: relative;
    z-index: 5;
    .logo {
        margin-left: -25px;
        margin-top: -10px;
    }
    .first-line {
        padding: 20px 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .second-line {
        padding-bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &.search_activated {
        .additional-link__list {
            visibility: hidden;
            z-index: 0;
        }
    }
    .search-block__wrap {
        display: none;
    }
    .search-result__wrap {
        box-shadow: 0 8px 23px -2px hsla(300,2%,48%,.2);
        background-color: #fff;
        position: absolute;
        top: 100%;
        margin-top: 1px;
        left: 0;
        width: 940px;
        display: none;
    }
    .cart-details__wrap {
        display: none;
    }
}

@mixin circles {
  $i: 6;
  @while $i >= 1 {
    .Cir#{$i} {
      opacity: 0;
    }
    &:hover .Cir#{$i} {
      animation-name: circles_anim;
      animation-duration: #{$i/4}s;
      animation-delay: #{$i/10}s;
    }
    $i: $i - 1;
  }
}

.logo__img {
  @include circles;
}

@keyframes circles_anim{
  0%  {
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    stroke-width: 8px;
  }
}




.tel-block {
    margin-right: auto;
    margin-left: 25px;
    .tel {
        display: inline-block;
        margin-left: 20px;
        font-size: 19px;
        line-height: 24px;
        color: #1E1E1E;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.tel-block__text {
    color : #B2B2B2;
    font-size : 12px;
    line-height : 21px;
    &:hover {
        color : $active;
    }
}

.menu {
    display: flex;
}

.menu-item {
    margin-left: 30px;
    &:hover {
        .menu-icon {
            fill: $active;
        }
        .menu-link {
            color : $active;
            span:after {
                width: 100%;
            }
        }
    }
    .menu-icon {
        fill: $icons;
        transition: fill 0.25s;
    }
    &.menu-item_w-icon {
        .menu-link {
            position: relative;
            padding-left: 8px;
            margin-left: 22px;
            .icon {
                position: absolute;
                top: 5px;
                right: 100%;
            }
        }
    }
}
.menu-link {
    padding: 5px;
    transition: color 0.25s;
    font-size : 15px;
    line-height : 24px;
    color : #B2B2B2;
    span {
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $active;
            transition: width 0.25s;
        }
    }

}

.header {
    .cart-block {
        background : #FFF7E6;
        border-style : Solid;
        border-color : #FFBB33;
        border-width : 2px;
        border-radius : 5px;
        padding: 10px 15px;
        .cart-text {
            display: inline-block;
            vertical-align: middle;
            line-height : 24px;
            font-size: 19px;
            color : #1E1E1E;
            margin-right: 0.3em;
        }
        .cart-summ {
            vertical-align: middle;
            display: inline-block;
            font-size : 20px;
            line-height : 24px;
            margin-right: 8px;
            font-weight: 500;
            color : #1E1E1E;
        }
        .cart-amount {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            .amount {
                display: block;
                position: absolute;
                bottom: -8px;
                left: 50%;
                font-size : 19px;
                line-height: 1;
            }
        }
    }
}

.additional-link__list {
    @include clearfix;
    font-size : 19px;
    line-height : 26.6px;
    color : #1E1E1E;
}
.additional-link__item{
    float: left;
    margin-right: 20px;
    &:hover {
        color : $active;
        span:after {
            width: 100%;
        }
    }
}
.additional-link__link{
    position: relative;
    padding-left: 8px;
    margin-left: 22px;
    .icon {
        position: absolute;
        right: 100%;
        top: 0;
    }
    span {
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $active;
            transition: width 0.25s;
        }
    }
}
.cart-details__wrap {
    border-radius: 5px 5px 0 0 ;
    position: absolute;
    top: -25px;
    bottom: 0;
    align-items: center;
    right: 0;
    background-color: #fff;
    width: 835px;
    box-shadow: 0px 8px 20px 0px rgba(86,58,17,0.1);
    .cart-details__status-line {
        width: 100%;
        padding: 20px;
        display: flex;
        @include clearfix;
        .cart-block {
            padding: 0;
            border-radius: 0;
            background: none;
            border: none;

        }
        .cart-summ {
            margin-right: 8px;
        }
    }
    .cart-details__link {
      font-size : 19px;
      line-height : 24px;
      color : #1E1E1E;
      display: inline-block;
      vertical-align: middle;
      position: relative;
        margin-right: 10px;
        cursor: pointer;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 4;
        width: 0;
        height: 2px;
        background-color: #fb3;
        transition: width .25s;
      }
      &:hover {
        color: $active;
          &:after {
            width: 100%;
          }
      }
    }
    .search-block__close {
        margin-right: auto;
    }

    .cart-details__content{
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 8px 20px 0px rgba(86,58,17,0.1);
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: #fff;
        margin-top: 1px;
    }
    .cart-details__item {
        padding: 15px 20px;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .cart-details__img-wrap {
        margin-left: 40px;
        margin-right: 40px;
        width: 95px;
        height: 95px;
        overflow: hidden;
        background-color: #ebebeb;
    }
    .cart-details__item-content {
        padding-left: 20px;
        flex: 1;
        text-align: right;
    }
    .cart-details__descr {
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .cart-details__text {
        display: block;
        &:hover .cart-details__title {
            color: $active;
        }
    }
    .cart-details__title {
        padding-right: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #333;
        margin-bottom: 5px;
    }
    .cart-details__info {
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        color: #b2b2b2;
        margin-bottom: 10px;
    }
    .cart-details__price {
        font-size: 22px;
        line-height: 30px;
        color: #333;
        font-weight: 500;
        margin-right: 20px;
        margin-left: auto;
    }
    .cart-details__amount {
        display: block;
    }
    .cart-details__remove-link {
      font-size : 15px;
      line-height : 24px;
      color : #B2B2B2;
    }
}
.amount-select__block {
    display: inline-block;
    background-color: #fff;
    user-select: none;
    width: 60px;
    height: 26px;
    border-radius : 14px;
    line-height: 1;
    font-size: 0;
    border: 2px solid #F2F2F2;
    text-align: center;
    input {
        font-size: 19px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 20px;
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .decrease,
    .increase {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 0px 3px;
        height: 22px;
        line-height: 22px;
        fill: $icons;
        &:hover {
          fill: $active;
        }
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.search-block__wrap {
    // display: flex !important;
    border-radius: 5px 5px 0 0 ;
    align-items: center;
    width: 940px;
    max-width: 100%;
    position: absolute;
    top: -25px;
    bottom: 0;
    left: 0;
    box-shadow: 0px 8px 20px 0px rgba(86,58,17,0.1);
    .search-block__form {
        width: 100%;
        padding: 20px;
        @include clearfix;
        position: absolute;
    }
    .search-block__field {
        display: inline-block;
        width: 275px;
        padding-left: 4px;
        padding-right: 4px;
        font-size : 19px;
        line-height : 26px;
        color : #1E1E1E;
        border: none;
        border-bottom: 2px solid $active;
        &:focus {
            outline: none;
        }
    }
    .search-block__close {
        float: right;
    }
    .search-block__results {
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 8px 20px 0px rgba(86,58,17,0.1);
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: #fff;
        margin-top: 1px;
    }
    .search-block__submit {
      font-size : 15px;
      line-height : 24px;
      color : #B2B2B2;
    }
    .search-result__item {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .search-result__img-wrap {
        margin-left: 40px;
        margin-right: 40px;
        width: 95px;
        height: 95px;
        overflow: hidden;
        background-color: #ebebeb;
        img{
            display: block;
        }
    }
    .search-result__descr {
        padding-left: 20px;
        flex: 1;
        @include clearfix;
        &:hover {
            .search-result__title {
                color: $active;
            }
        }
    }
    .search-result__text {
        display: block;
        margin-right: 115px;
        padding-right: 10px;
    }
    .search-result__title {
      font-size : 22px;
      font-weight: 500;
      line-height : 30px;
      color : #333333;
      margin-bottom: 5px;
    }
    .search-result__info {
      font-size : 15px;
      font-weight: 300;
      line-height : 21px;
      color : #B2B2B2;
      margin-bottom: 10px;
    }
    .search-result__price {
        float: right;
        font-size : 30px;
        line-height : 36px;
        color : #333333;
        color : rgb(51, 51, 51);
        font-weight: 500;
    }

    .all-results {
      font-size : 19px;
      line-height : 26.6px;
      color : #FFBB33;
      color : rgb(255, 187, 51);
      &:hover {
        text-decoration: underline;
      }
    }

}
