.prod-page__wrap {
  background-image: 	url(../img/news/single_news_bg.png);
  background-position: 	top center;
  background-repeat: no-repeat;
  background-size: 	contain;
}

.prod__rank-line {
  margin-bottom: 10px;
}

.prod__write-review,
.prod__rank {
  display: inline-block;
  vertical-align: baseline;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  display: none;
}
.prod__rating {
  margin-right: 5px;
}

.average-mark,
.prod__rating {
  display: inline-block;
  vertical-align: middle;
}

.prod__block {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.prod__data {
  width: 32.3%;
  .prod__write-review {
    @extend .ui_addition_normal;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.6;
    &:hover {
      @extend .ui_activeLink_accent;
      text-decoration: underline;
    }
  }
}
.prod__text {
  @extend .ui_text_sm;
  p {
    margin-bottom: 15px;
  }
  a {
    @extend .ui_activeLink_normal;
    @extend .ui_activeLink_accent;
  }
}

.prod__img-wrap {
  background-color: #fff;
  @extend .ui-block_card;
  width: 32.3%;
  vertical-align: top;
  height: 305px;
  text-align: center;
  img {
    vertical-align: middle;
    line-height: 305px;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }
}
.prod__actions-block {
  position: relative;
  width: 32.3%;
  order: 1;
  @include ui_block('');
  padding: 20px;
  .goods__price-block {
    padding-bottom: 15px;
  }
  .text {
    @extend .ui_text_sm;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 25px;
    }
  }
  .goods__price {
    font-size: 40px;
  }
  .goods__price_old {
    font-size: 30px;
  }

  .goods__price ,
  .goods__price_old {
    margin-right: 10px;
  }

}
.prod__note {
  display: table-cell;
  vertical-align: top;
}
.add-favorite_link {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  @extend .ui_activeLink_accent;
  @extend .ui_activeLink_normal;
}
.add-cart_link {
  @extend .ui_button_accent;
  width: 100%;
}

.prod__text  {
  margin-bottom: 25px;
}

.delivery-info {
  border-radius: 5px;
  background-color: $line;
  padding: 20px;
  .text {
    @extend .ui_text_sm;
    margin-bottom: 15px;
  }
  .link {
    @extend .ui_activeLink_normal;
    @extend .ui_activeLink_grey;
  }
}
.prod__detailed-block {
  margin-bottom: 115px;
}
.prod__details-wrap {
}
.prod__reviews-wrap {
  .section__title .title  {
    margin-right: 20px;
  }
}
.tab__content-wrap {
  padding: 20px 20px 50px;
}

.tabs-titles {
  border-bottom: 1px solid $line;
  @include clearfix;
  padding: 20px;
}

.tabs__link-wrap {
  float: left;
  margin-right: 25px;
}

.tabs__link {
  display: block;
  @extend .ui_activeLink_grey;
  @extend .ui_activeLink_normal;
  &.active {
    @extend .ui_activeLink_accent;
  }
  &:hover {
    @extend .ui_activeLink_accent;
    text-decoration: underline;
  }
}
.prod__details-wrap .reviews__item {
  margin-bottom: 30px;
}

.prod__reviews-add {
  @extend .ui_button_accent;
  &:hover {
    text-decoration: underline;
  }
}
.tab__content-wrap {
  display: none;
}
.prod__reviews-wrap {
  @include clearfix;
}
.prod__reviews-left {
}
.prod__reviews-details-line {
  margin-bottom: 40px;
  .text {
    @extend .ui_text_n;
    margin-bottom: 15px;
  }
}

.prod__content-wrapper {
  margin-bottom: 60px;
  max-width: 620px;
  .section__title {
    margin-bottom: 20px;
  }
}

.prod__details-show-more {
  background-color: $line;
  height : 60px;
  border-radius : 5px;
  text-align: center;
  display: block;
  margin-top: 20px;
  padding: 18px 30px;
  @extend .ui_activeLink_normal;
  color: $head_descr;
}
.prod__details-content {
  p {
    @extend .ui_text_n;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h3 {
    margin-bottom: 20px;
  }
}

.prod__details-slider {
  margin: 30px 0;
  
  .owl-nav {
    margin-top: 10px;
    display: table;
    width: 100%;
  }
  .owl-prev {
    display: table-cell;
    max-width: 48px;
  }
  .owl-status_c {
    display: table-cell;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    @extend .ui_text_sm;
    color: $descr_adition;
  }
  .owl-next {
    display: table-cell;
    max-width: 48px;
  }
}
